<!-- menu superior DO COMPONENTE -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/imagem/logo.png" >
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav">
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'pagina-inicial'"
        [routerLinkActive]="'active'" >Página inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'produtos'"
           [routerLinkActive]="'active'" >Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'carrinho'"
           [routerLinkActive]="'active'" >Carrinho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'lista-desejos'"
           [routerLinkActive]="'active'" >Lista de Desejos</a>
      </li>
    </ul>
  </div>
  <div class="navbar navbar-dark">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger mr-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
